<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="[connection string here]"/>
  </connectionStrings>
  <appSettings>
    <add key="serviceUrl" value="https://serviceapi.episerver.com/api/v1/{0}?apikey={1}"/>
    <add key="apiKey" value="[API Key here]"/>
    <add key="toDownload" value="company,license,contact"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
